### MANDATORY VARIABLES ###

# Simply Plural System API token
SPS_API_TOKEN="your_sps_api_token_here"

# VRChat credentials
VRCHAT_USERNAME="your_vrchat_username"
VRCHAT_PASSWORD="your_vrchat_password"


### OPTIONAL VARIABLES ###
# Remove the '# ' in front to be able to set the variable to a different value.

# The prefix on your VRChat status. optional.
# VRCHAT_UPDATER_PREFIX="F:"

# The text, which the updater uses, if no fronts are active. optional.
# VRCHAT_UPDATER_NO_FRONTS="none?"

# The length of each members name IF the status is too long
# and wouldn't fit into the VRChat status (23 characters).
# E.g. if set to 3, then "F: Ayake, Ekaya" would become "F:Aya,Eka".
# optional.
# VRCHAT_UPDATER_TRUNCATE_NAMES_TO=3
